* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    
}

body {
    background-color: #f4f4fc;
    
    width: 100%;
    height: 97vh;
    border: 1px solid red;
}

.container {
    display: flex;
    justify-content: space-between;
}

.contenedor-cajatexto {
    width: 70%;
    height: 97vh;
    border: 1px solid pink;
}

header {
    width: 100%;
    border: 1px solid blue;
}

.logo {
    margin: 10px;
}

main {
    width: 100%;
    border: 1px solid blue;
}

.cajaTexto{
    width: 80%;
    height: 100%;
    margin: 40px;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}

.cajaTexto::placeholder {
    color: #0A3871;
}

.caja-Alert-btn {
    width: 100%;
    border: 1px solid blue;
}

.caja-alerta {
    margin: 20px 30px;
    display: flex;
    color: #495057;
    border: 1px solid blue;
}

.caja-alerta > p {
    padding-left: 10px;
}

.caja-btn {
    width: 100%;
    border: 1px solid blue;
}

.btn-encriptar {
    width: 35%;
    height: 50px;
    padding: 10px 10px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px 20px;
}

.btn-desencriptar {
    width: 35%;
    height: 50px;
    padding: 10px 10px;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
    background-color: #D8DFE8;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 20px;
    
}

.contenedor-resultado{
    width: 30%;
    margin: 40px;
    padding: 25px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

aside {
    width: 100%;
    border: 1px solid black;
    
}

aside .caja-textoEncriptado {
    width: 100%;
    font-size: 18px;
    border: 1px solid green;
    color: #0A3871;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

aside .caja-img img {
    width: 100%;
    min-height: 350px;
    border: 1px solid green;
}

aside .caja-mensajes {
    width: 100%;
    border: 1px solid green;
}

.caja-mensajes h3 {
    margin: 10px;
    text-align: center;
    border: 1px solid green;
}

.caja-mensajes p {
    margin: 10px;
    border: 1px solid green;
    text-align: center;
}


aside .caja-btnCopia {
    width: 100%;
    border: 1px solid green;
    text-align: center;
}

.btn-Copia {
    width: 60%;
    height: 50px;
    padding: 10px 10px;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
    background-color: #D8DFE8;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 40px;
}

@media (min-width: 200px) and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor-cajatexto {
        width: 100%;
        height: 97vh;
        border: 1px solid pink;
    }

    .contenedor-resultado{
        width: 100%;
        margin: 40px;
        padding: 25px;
        background-color: white;
        border-radius: 24px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border: 1px solid black;
    }

    .btn-encriptar {
        width: 25%;
    }
    
    .btn-desencriptar {
        width: 25%;
    }
    
}